body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121826;
    color: e8edf5;
    margin: 0;
}

#content {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    background-color: #202a3b;
    border-radius: 15px;
}

h1 {
    color: #66d9ff;
    text-align: center;
}

h2 {
    color: #66d9ff;
}

#name {
    color: white;
    text-align: center;
}

p {
    color: #d6e4f0;
    line-height: 1.6;
}

a{
    color: #d5a7ff;
    text-decoration: none;
}

a:hover {
    color:white
}

#github-link {
    color: #d5a7ff;
}

/* Assignment and Project Sections */

#assignments-section h2,
#projects-section h2 {
    color: #66d9ff;
    text-align: center;
    font-size: 30px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.assignment-card,
.project-card {
    background-color: #202a3b;
    padding: 15px;
    border-radius: 10px;
}

.assignment-card {
    flex: 1;
}

.project-card {
    flex: 0 0 calc((100% - 40px) / 3);
}

.assignment-card h3,
.project-card h3 {
    color: #9bdcff;
    text-align: center;
}

.assignment-card img,
.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 3px solid #66d9ff;
    border-radius: 8px;
}

.assignment-card p,
.project-card p {
    color: #d6e4f0;
    line-height: 1.5;
}

#projects-section {
    margin-top: 40px;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #27496d;
    color: white;
}

/* Small Screen Layout */

@media only screen and (max-width: 700px) {

    .card-container {
        flex-direction: column;
    }

    .assignment-card,
    .project-card {
        width: 100%;
        flex: none;
    }

    .assignment-card img,
    .project-card img {
        height: 180px;
    }
}